<mat-toolbar color="primary">
  <span>Sothbey`s Killer</span>
  <a mat-raised-button routerLink="auction-list">Auctions</a>
  <a *ngIf="!userService.isAuthenticated()()" routerLink="sign-in" mat-raised-button>Sign-in</a>
  <a *ngIf="!userService.isAuthenticated()()" routerLink="sign-up" mat-raised-button>Sign-up</a>
  <a *ngIf="userService.isAuthenticated()()" (click)="userService.logout()" mat-raised-button>Log Out</a>
  <mat-slide-toggle (change)="themeService.toggleTheme()">Slide me!</mat-slide-toggle>
</mat-toolbar>
