<div class="card-wrapper">
  <div class="mid-card">
    <mat-card class="full-width-element">
      <div>
        <mat-card-content>
          <span>Sign-in</span>
          <mat-error *ngIf="unauhorized">Sign-in failed</mat-error>
        </mat-card-content>
      </div>
      <form [formGroup]="form" (submit)="submit()">
        <div>
          <mat-card-content>
            <mat-form-field>
              <mat-label>E-mail</mat-label>
              <input formControlName="email" matInput placeholder="Enter your e-mail" required>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="!form.controls['email'].valid">
                invalid e-mail
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </div>
        <div>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input formControlName="password" type="password" matInput placeholder="Enter your password">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="!form.controls['password'].valid">
                invalid password
              </mat-error>
            </mat-form-field>
          </mat-card-content>
        </div>
        <div>
          <mat-card-content>
            <button type="submit" mat-flat-button>Sign-in</button>
          </mat-card-content>
        </div>
      </form>
    </mat-card>
  </div>
</div>
